<%- layout('layouts/homeLayout') %>
    <% for(let n of notifications) { %>
        <% if(n.type=='User') { %>
            <p>Friend request From- <%=n.user.name %></p> 
            <p>-@<%=n.user.username%></p>
            <form action="/user/acceptFriendRequest/<%=n.user._id%>" method="post">
                <button>Accept</button>
            </form>
        <%} else if(n.type=='GroupTask'){ %>
            <p>From Team- <%=n.group.teamName %></p>
            <p>-@<%=n.group.teamId%></p>
            <p>GroupMembers</p>
            <ul>
                <% for (let u of n.group.groupMembers){%>
                    <li>@-<%=u.username%></li>
                <%} %>
            </ul>
            <p>Members requested for-</p>
            <ul>
                <% for (let u of n.group.membersUnderRequest){%>
                    <li>@-<%=u.username%></li>
                <%} %>
            </ul>
            <form action="/user/acceptTeamTask/<%=n.group._id%>" method="post">
                <button>Accept</button>
            </form>
            <%} }%>
